


@media only screen and (min-width: 360px) and (max-width: 767px){
	.carousel-control-next-icon {
		padding:15px;
	  }
	  .carousel-control-prev-icon {
		padding:15px;
	  }
	 h6{
		font-size: .8rem;
	 }
	 .single-cta{
		padding-bottom: 20px;
	 }
	 .gallery_img{
		width: 300px;
		height: auto;
		margin: auto;
	 }
	 .card{
		width: 350px !important;
		height: 350px !important;
	 }
	}